

header{
  position: sticky;
  top: 0;
  left: 0;
  right:0;
  margin-bottom: 10px;
}

footer{
  position: relative;
  right: 0;
  left:0;
  /* display:none */
}

main{
  margin: 40px auto;
  width: 40vw;
  background-color: #a2a8b1;
  background-size: cover;
  height: 100vh;
  padding-top: 10px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input, form textarea, form button {
  width: 100%;
  padding: 8px;
  padding-right: 0px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="radio"] {
  width: auto;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  background-color: #45a049;
}

/* Other existing styles */

/* Styling for gender radio buttons to display horizontally */
.gender-group {
  display: flex;
  align-items: center;
}

.gender-group label {
  margin-right: 10px;
}
